body{
    margin: 0;
    /* text-align: center; */
}

form{
    box-sizing: border-box;
    padding:2px;
    flex-direction:column;
    width:300px;
    margin-left:20px;
    align-items:center;
    background:transparent;
  }
  form:hover{
    border:2px double darkslategrey;
    /* background:linear-gradient(red,rgb(61, 235, 61),rgb(23,203,203),lightblue); */
    background: black;
  }

  .dispFlex{
    display:flex;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(16, 9, 9);
    color: white;
    text-align: center;
  }